@media only screen and (max-width: 1200px){
	
}

@media only screen and (max-width: 992px){
    .glav-text{
        width: 300px;
    }
	.glav-text>h1{
        font-size: 35px;
    }

    .glav-text>p{
        font-size: 16px;
    }

    #sferi{
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
    }

    .sferi-box{
        width: 100%;
        height: auto;
        padding: 15px 20px; 
    }

    .sferi-text{
        width: 100%;
    }

    .sferi-text>h1{
        font-size: 30px;
    }

    .sferi-content{
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    
    .sferi-content>ul>.box-group{
        width: 50%;
        height: 100%;
    }

    .sferi-content>ul{
        display: flex;
        justify-self: center;
        margin-top: -30px;
    }

    .sferi-content>ul>div{
        width: 100%;
        padding: 0;
        display: flex;
        justify-content: center;
    }

    .sferi-content>ul>div>li>div>h3{
        font-size: 25px;
    }

    .sferi-content>ul>div>li>div>p{
        font-size: 15px;
    }

    #onas{
        height: auto;
        margin-top: 10px;
    }
}

@media only screen and (max-width: 768px){
    #glav{
        display: flex;
        justify-content: center;
        align-items: center;
    }

	.glav-box{
        width: 90%;
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .glav-text{
        width: auto;
    }

    .glav-text>h1{
        font-size: 45px;
    }

    .glav-text>p{
        font-size: 20px;
    }

    #sferi{
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
    }

    .sferi-box{
        width: 100%;
        height: auto;
        padding: 15px 20px; 
    }

    .sferi-text{
        width: 100%;
    }

    .sferi-text>h1{
        font-size: 30px;
    }

    .sferi-content{
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    
    .sferi-content>ul>.box-group{
        width: 50%;
        height: 100%;
    }

    .sferi-content>ul{
        display: flex;
        justify-self: center;
        margin-top: -30px;
    }

    .sferi-content>ul>div{
        width: 100%;
        padding: 0;
        display: flex;
        justify-content: center;
    }

    .sferi-content>ul>div>li>div>h3{
        font-size: 25px;
    }

    .sferi-content>ul>div>li>div>p{
        font-size: 15px;
        margin-top: 10px;
    }

    #onas{
        height: auto;
        padding: 30px 60px;
    }

    #onas>p{
        font-size: 16px;
    }

    .mens{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    
    #yurist{
        height: auto;
    }

    .people{
        margin-left: 30%;
        margin-top: 20px;
    }
    
}

@media only screen and (max-width: 500px){
    header nav {
        display: none;
    }
    
    #hamburger-icon {
        display: block;
    }

    .sferi-content{
        padding: 0;
        margin: 0;
        margin-top: 20px;
    }

    .sferi-content>ul{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
        justify-content: center;
    }

    .box-group{
        margin: 0 auto;
    }    

    .sferi-boxes{
        margin-top: 25px;
    }

    .sferi-boxes>p{
        margin-top: 5px;
    }

    .mens{
        margin-top: 0;
    }
}